
.logo-superior-izquierda {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px; 
}
.logo-centro {
  position: relative;
  top: auto;
  width: 400px;
}
.btn-logear {
  width: 400px;
  background-color: #bdbdbd !important; /* Azul claro */
  color: white ;
  border: none;
}
.btn-logear:hover {
  background-color: #014886 !important; /* color al pasar el mouse */
  color: white !important;
}

.btn-logear:active {
  background-color: #012f5a !important; /* color al hacer clic */
  color: white !important;
}

.btn-registrar {
  width: 400px;
  background-color: #bdbdbd !important; /* Azul oscuro */
  border: none;
}
.btn-registrar:hover {
  background-color: #014886 !important; /* color al pasar el mouse */
  color: white !important;
}

.btn-registrar:active {
  background-color: #012f5a  !important; /* color al hacer clic */
  color: white !important;
}